[Desktop Entry]
Version=1.0
Name[de]=PipeWire Mediensystem Session Manager
Name=PipeWire Media System Session Manager
Comment[de]=Das PipeWire Mediensystem starten
Comment=Start the PipeWire Media System Session Manager
Exec=/usr/bin/wireplumber
Terminal=false
Type=Application
X-GNOME-HiddenUnderSystemd=true
X-KDE-HiddenUnderSystemd=true
X-systemd-skip=true
